{% extends "base.html" %}

{% block title %}{{ page_title | safe }}{% endblock %}

{% block meta_description %}{{ meta_description }}{% endblock %}

{% block content %}
<article>
  <h1>{{ name }}</h1>
  {% if description %}
  {{ description | safe }}
  {% endif %}
  {% if fields %}
  <section aria-labelledby="fields-heading">
    <h2 id="fields-heading">{{ copy.heading_fields }}</h2>
    <dl>
      {% for field in fields %}
      <dt{% if field.required %} class="req"{% endif %}>{{ field.name }} <span class="type">({% if field.type_href %}{{ field.type_prefix }}<a href="{{ field.type_href | safe }}" aria-label="{{ field.type_prefix }}{{ field.type_display }} type reference">{{ field.type_display }}</a>{% else %}{{ field.type_display }}{% endif %}{% if field.type_classification %} <span class="ref-cls ref-cls--{{ field.type_classification }}">{{ field.type_classification }}</span>{% endif %})</span></dt>
      <dd>
        {{ field.description | safe if field.description else copy.msg_no_description }}
        {% if field.type_description %}
        <p class="type-desc"><em>{{ field.type_description | safe }}</em></p>
        {% endif %}
        {% if field.sub_fields %}
        <dl class="sub-fields">
          {% for sf in field.sub_fields %}
          <dt{% if sf.required %} class="req"{% endif %}>{{ sf.name }} <span class="type">({{ sf.type_prefix }}{{ sf.type_display }})</span></dt>
          <dd>{{ sf.description | safe if sf.description else copy.msg_no_description }}</dd>
          {% endfor %}
        </dl>
        {% endif %}
      </dd>
      {% endfor %}
    </dl>
  </section>
  {% endif %}
</article>
{% endblock %}
